.testimonial {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonal__title {
  font-size: var(--size-3xl);
  color: var(--clr-light);
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.testimonal__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin: 1rem auto;
}
.testimonial__grid {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.testimonial__grid-card {
  border: 1px solid var(--clr-rose);
  text-align: center;
  background: var(--clr-dark);
  position: relative;
  overflow: hidden;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.testimonial__grid-card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: var(--size-base);
  color: var(--clr-rose);
}

.testimonial__grid-card h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: var(--size-lg);
}

.testimonial__grid-card p {
  margin-bottom: 2rem;
  font-size: var(--size-sm);
  z-index: 999;
}

.testimonial__grid-card img {
  display: block;
  margin: 0 auto;
  max-width: 80px;
  width: 100%;
  height: 80px; /* Fixed height to ensure it's always a circle */
  border-radius: 50%; /* Keeps the image circular */
  border: 2px solid var(--clr-rose);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Ensures the image fills the circle without distortion */
  transition: transform 0.3s ease;
  margin-bottom: 1em;
}

.testimonial__grid-card img:hover {
  transform: scale(1.05);
}

h5,
h6 {
  padding: 0 !important;
  margin: 0 !important;
  font-size: var(--size-base);
  font-weight: 400;
}

/* Media Queries */

/* md */
@media (min-width: 768px) {
  .testimonial__title {
    font-size: var(--size-4xl);
    margin-bottom: 2rem;
  }

  .testimonial__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }

  .testimonial__grid-card {
    padding: 2rem;
  }
}
